.mon-user-details {
  display: flex;
  flex-direction: column;
  background-color: #FFFF;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px lightgrey;
  padding: 20px;
  margin-top: 30px;

  .mon-user-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
    font-weight: 600;
    border-bottom: 2px solid lightgray;
    .heading {
      width: 80%
    }
    .No {
      width: 30%;
    }

  }
  .mon-details {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    padding: 10px;

    .staff-name {
      margin-right: 20px;
      color: blue;
    }

    .data {
      width: 90%;
    }
    .number {
      width: 30%;
      color: #D4D4D4;
      font-weight: 600;
    }

    .efficiencyDelta {
      text-align: left;
      display: flex;
      flex-direction: row;

      .e-count {
        //margin-right: 5px;
      }
      .data {
        width: 20%;
      }
    }
    .npsDelta {
      display: flex;
      flex-direction: row;

      .n-count {
        margin-right: 10px;
      }
    }
  }
  .efficiency {
    display: flex;
    flex-direction: row;

    .progress {
      width: 50%;
      margin: auto 0 auto 5px;
      height: 4px !important;
    }
  }

  .reportedIssues {
    display: flex;
    flex-direction: row;

    .progress {
      width: 50%;
      margin: auto 0 auto 5px;
      height: 4px !important;
    }
  }
}

.increase-rate {
  color: #D4D4D4;
  font-weight: 600;
}

.arrow-icon {
  align-items: center;
  margin-left: 3px;
}


