.analytics-page {
  font-family: 'Didact Gothic', sans-serif;

  .analytics-title-section {
    background-color: #F5F6FA;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
  }
  .analytics-section {
    background-color: #F5F6FA;
  }
}
